 .spinner {
    position: absolute;
    display: block;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top: 3px solid #022071;
    animation: 1s spin infinite linear;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}