.photo-tile-container {
  margin-top: 1rem; }
  .photo-tile-container.loading {
    opacity: 0.5; }
  .photo-tile-container .photo-tile {
    min-height: 350px;
    background-size: cover;
    margin-bottom: 0.5rem;
    cursor: pointer; }
  .photo-tile-container .card-body {
    min-height: 350px; }
